In [5]:
import numpy as pn
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [6]:
data = pd.read_csv(r"C:\ProgramData\Ml_Data\Housing_Data.csv")

In [7]:
data.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [8]:
data.tail()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
541,542,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
542,543,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
543,544,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
544,545,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
545,546,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [9]:
data.shape

(546, 13)

In [10]:
data.columns

Index(['Unnamed: 0', 'price', 'lotsize', 'bedrooms', 'bathrms', 'stories',
       'driveway', 'recroom', 'fullbase', 'gashw', 'airco', 'garagepl',
       'prefarea'],
      dtype='object')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 13 columns):
Unnamed: 0    546 non-null int64
price         546 non-null float64
lotsize       546 non-null int64
bedrooms      546 non-null int64
bathrms       546 non-null int64
stories       546 non-null int64
driveway      546 non-null object
recroom       546 non-null object
fullbase      546 non-null object
gashw         546 non-null object
airco         546 non-null object
garagepl      546 non-null int64
prefarea      546 non-null object
dtypes: float64(1), int64(6), object(6)
memory usage: 55.5+ KB

In [22]:
data.isnull().sum()

Unnamed: 0    0
price         0
lotsize       0
bedrooms      0
bathrms       0
stories       0
driveway      0
recroom       0
fullbase      0
gashw         0
airco         0
garagepl      0
prefarea      0
dtype: int64

In [126]:
import math

In [ ]:
# data.badroom.median()

In [ ]:
# data.badroom.fillna(data.badroom.median())

In [127]:
data.isnull().sum().plot(kind='bar')

In [129]:
x=data.iloc[:,[2,3,4]].values

In [130]:
x

array([[5850,    3,    1],
       [4000,    2,    1],
       [3060,    3,    1],
       ...,
       [6000,    3,    2],
       [6000,    3,    2],
       [6000,    3,    1]], dtype=int64)

In [131]:
y = data['price'].values

In [133]:
y

array([  42000.,   38500.,   49500.,   60500.,   61000.,   66000.,
         66000.,   69000.,   83800.,   88500.,   90000.,   30500.,
         27000.,   36000.,   37000.,   37900.,   40500.,   40750.,
         45000.,   45000.,   48500.,   65900.,   37900.,   38000.,
         42000.,   42300.,   43500.,   44000.,   44500.,   44900.,
         45000.,   48000.,   49000.,   51500.,   61000.,   61000.,
         61700.,   67000.,   82000.,   54500.,   66500.,   70000.,
         82000.,   92000.,   38000.,   44000.,   41000.,   43000.,
         48000.,   54800.,   55000.,   57000.,   68000.,   95000.,
         38000.,   25000.,   25245.,   56000.,   35500.,   30000.,
         48000.,   48000.,   52000.,   54000.,   56000.,   60000.,
         60000.,   67000.,   47000.,   70000.,   45000.,   51000.,
         32500.,   34000.,   35000.,   36000.,   45000.,   47000.,
         55000.,   63900.,   50000.,   35000.,   50000.,   43000.,
         55500.,   57000.,   60000.,   78000.,   35000.,   44000.,
         47000.,   58000.,  163000.,  128000.,  123500.,   39000.,
         53900.,   59900.,   35000.,   43000.,   57000.,   79000.,
        125000.,  132000.,   58000.,   43000.,   48000.,   58500.,
         73000.,   63500.,   43000.,   46500.,   92000.,   75000.,
         75000.,   85000.,   93000.,   94500.,  106500.,  116000.,
         61500.,   80000.,   37000.,   59500.,   70000.,   95000.,
        117000.,  122500.,  123500.,  127000.,   35000.,   44500.,
         49900.,   50500.,   65000.,   90000.,   46000.,   35000.,
         26500.,   43000.,   56000.,   40000.,   51000.,   51000.,
         57250.,   44000.,   61000.,   62000.,   80000.,   50000.,
         59900.,   35500.,   37000.,   42000.,   48000.,   60000.,
         60000.,   60000.,   62000.,   63000.,   63900.,  130000.,
         25000.,   50000.,   52900.,   62000.,   73500.,   38000.,
         46000.,   48000.,   52500.,   32000.,   38000.,   46000.,
         50000.,   57500.,   70000.,   69900.,   74500.,   42000.,
         60000.,   50000.,   58000.,   63900.,   28000.,   54000.,
         44700.,   47000.,   50000.,   57250.,   67000.,   52500.,
         42000.,   57500.,   33000.,   34400.,   40000.,   40500.,
         46500.,   52000.,   53000.,   53900.,   50000.,   55500.,
         56000.,   60000.,   60000.,   69500.,   72000.,   92500.,
         40500.,   42000.,   47900.,   52000.,   62000.,   41000.,
        138300.,   42000.,   47000.,   64500.,   46000.,   58000.,
         70100.,   78500.,   87250.,   70800.,   56000.,   48000.,
         68000.,   79000.,   80000.,   87000.,   25000.,   32500.,
         36000.,   42500.,   43000.,   50000.,   26000.,   30000.,
         34000.,   52000.,   70000.,   27000.,   32500.,   37200.,
         38000.,   42000.,   44500.,   45000.,   48500.,   52000.,
         53900.,   60000.,   61000.,   64500.,   71000.,   75500.,
         33500.,   41000.,   41000.,   46200.,   48500.,   48900.,
         50000.,   51000.,   52500.,   52500.,   54000.,   59000.,
         60000.,   63000.,   64000.,   64900.,   65000.,   66000.,
         70000.,   65500.,   57000.,   52000.,   54000.,   74500.,
         90000.,   45000.,   45000.,   65000.,   55000.,   62000.,
         30000.,   34000.,   38000.,   39000.,   45000.,   47000.,
         47500.,   49000.,   50000.,   50000.,   52900.,   53000.,
         55000.,   56000.,   58500.,   59500.,   60000.,   64000.,
         67000.,   68100.,   70000.,   72000.,   57500.,   69900.,
         70000.,   75000.,   76900.,   78000.,   80000.,   82000.,
         83000.,   83000.,   83900.,   88500.,   93000.,   98000.,
         98500.,   99000.,  101000.,  110000.,  115442.,  120000.,
        124000.,  175000.,   50000.,   55000.,   60000.,   61000.,
        106000.,  155000.,  141000.,   62500.,   70000.,   73000.,
         80000.,   80000.,   88000.,   49000.,   52000.,   59500.,
         60000.,   64000.,   64500.,   68500.,   78500.,   86000.,
         86900.,   75000.,   78000.,   95000.,   97000.,  107000.,
        130000.,  145000.,  175000.,   72000.,   84900.,   99000.,
        114000.,  120000.,  145000.,   79000.,   82000.,   85000.,
        100500.,  122000.,  126500.,  133000.,  140000.,  190000.,
         84000.,   97000.,  103500.,  112500.,  140000.,   74700.,
         78000.,   78900.,   83900.,   85000.,   85000.,   86000.,
         86900.,   94500.,   96000.,  106000.,   72000.,   74500.,
         77000.,   80750.,   82900.,   85000.,   92500.,   76000.,
         77500.,   80000.,   80000.,   86000.,   87000.,   87500.,
         89000.,   89900.,   90000.,   95000.,  112000.,   31900.,
         52000.,   90000.,  100000.,   91700.,  174500.,   94700.,
         68000.,   80000.,   61100.,   62900.,   65500.,   66000.,
         49500.,   50000.,   53500.,   58550.,   64500.,   65000.,
         69000.,   73000.,   75000.,   75000.,  132000.,   60000.,
         65000.,   69000.,   51900.,   57000.,   65000.,   79500.,
         72500.,  104900.,  114900.,  120000.,   58000.,   67000.,
         67000.,   69000.,   73000.,   73500.,   74900.,   75000.,
         79500.,  120900.,   44555.,   47000.,   47600.,   49000.,
         49000.,   49000.,   49500.,   52000.,   54000.,   55000.,
         55000.,   56000.,   60000.,   60500.,   50000.,   64900.,
         93000.,   85000.,   61500.,   88500.,   88000.,   89000.,
         89500.,   95000.,   95500.,   51500.,   62900.,  118500.,
         42900.,   44100.,   47000.,   50000.,   50000.,   53000.,
         53000.,   54000.,   58500.,   59000.,   60000.,   62900.,
         64000.,   65000.,   67900.,   68500.,   70000.,   70500.,
         71500.,   71900.,   75000.,   75000.,   87000.,   64000.,
         70000.,   47500.,   62600.,   66000.,   58900.,   53000.,
         95000.,   96500.,  101000.,  102000.,  103000.,  105000.,
        108000.,  110000.,  113000.,  120000.,  105000.,  106000.,
        107500.,  108000.,  113750.,  120000.,   70000.,   71000.,
         82000.,   82000.,   82500.,   83000.,   84000.,   85000.,
         85000.,   91500.,   94000.,  103000.,  105000.,  105000.])

In [134]:
from sklearn.model_selection import train_test_split

In [135]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.20,random_state=0)

In [136]:
xtrain

array([[4300,    3,    2],
       [7410,    3,    1],
       [6000,    3,    2],
       ...,
       [5500,    3,    2],
       [6600,    3,    1],
       [3480,    3,    1]], dtype=int64)

In [137]:
xtest

array([[ 6480,     3,     1],
       [ 7800,     3,     2],
       [ 8250,     3,     1],
       [ 5495,     3,     1],
       [ 3760,     3,     1],
       [ 5170,     3,     1],
       [ 4320,     3,     1],
       [ 6060,     3,     1],
       [ 6720,     3,     1],
       [ 3660,     4,     1],
       [ 3000,     3,     1],
       [ 3600,     3,     1],
       [ 5040,     3,     1],
       [ 8880,     3,     2],
       [ 2550,     3,     1],
       [ 7155,     3,     2],
       [ 3960,     3,     1],
       [ 7440,     3,     2],
       [ 7700,     2,     1],
       [ 5450,     2,     1],
       [ 6420,     3,     1],
       [ 7500,     3,     3],
       [ 5948,     3,     1],
       [ 3960,     3,     1],
       [ 4700,     4,     1],
       [ 5500,     3,     1],
       [ 3630,     3,     2],
       [ 8100,     4,     1],
       [ 2910,     3,     1],
       [ 4500,     4,     2],
       [ 4815,     2,     1],
       [ 4995,     4,     2],
       [ 3640,     4,     1],
       [ 4880,     4,     2],
       [ 4260,     4,     1],
       [ 2800,     3,     2],
       [ 4770,     3,     1],
       [ 3649,     2,     1],
       [ 3185,     2,     1],
       [ 2610,     4,     3],
       [ 9000,     4,     2],
       [ 6750,     2,     1],
       [ 5200,     4,     1],
       [ 4080,     3,     1],
       [ 6254,     4,     2],
       [10269,     3,     1],
       [ 6800,     2,     1],
       [ 2160,     3,     1],
       [12900,     3,     1],
       [13200,     2,     1],
       [ 5400,     5,     1],
       [ 3420,     2,     1],
       [ 6600,     3,     1],
       [ 8150,     3,     2],
       [ 4950,     4,     1],
       [ 3850,     3,     1],
       [ 5360,     3,     1],
       [ 3450,     3,     1],
       [11410,     2,     1],
       [ 6525,     3,     2],
       [ 3240,     4,     1],
       [ 4079,     3,     1],
       [ 3000,     3,     2],
       [ 3090,     2,     1],
       [ 7800,     3,     1],
       [ 3040,     2,     1],
       [ 4320,     3,     1],
       [ 3000,     4,     1],
       [ 4510,     4,     2],
       [ 3680,     3,     2],
       [ 6210,     4,     1],
       [ 3540,     2,     1],
       [ 3500,     4,     2],
       [ 3150,     3,     1],
       [ 3180,     3,     1],
       [ 5500,     3,     2],
       [ 3180,     2,     2],
       [ 7160,     3,     1],
       [ 6420,     3,     2],
       [ 4050,     2,     1],
       [ 4000,     3,     2],
       [ 8250,     3,     2],
       [ 5400,     3,     1],
       [ 3630,     3,     1],
       [ 3630,     4,     1],
       [ 6000,     4,     1],
       [ 3510,     3,     1],
       [ 5828,     4,     1],
       [ 6550,     3,     1],
       [ 7000,     3,     1],
       [ 2747,     4,     2],
       [ 3968,     3,     1],
       [ 6300,     3,     1],
       [ 5700,     3,     1],
       [ 4050,     2,     1],
       [ 3600,     3,     1],
       [ 3600,     2,     1],
       [ 9860,     3,     1],
       [ 4000,     2,     1],
       [ 2430,     3,     1],
       [ 1700,     3,     1],
       [ 4900,     3,     1],
       [ 9620,     3,     1],
       [ 7980,     3,     1],
       [ 8400,     3,     1],
       [ 4000,     2,     1],
       [ 2910,     2,     1],
       [ 1650,     3,     1],
       [ 3650,     3,     2],
       [ 3000,     3,     1]], dtype=int64)

In [138]:
ytrain

array([ 106500.,   92500.,  103000.,   50000.,   62000.,   87000.,
         74900.,   50000.,  113000.,   75000.,  120000.,  133000.,
         90000.,   95500.,   92000.,   90000.,   80000.,   47000.,
         94000.,   60000.,   80000.,  117000.,   50000.,  105000.,
         87000.,   52000.,   89000.,   33000.,   69000.,   75000.,
         65000.,   58500.,   71000.,   60500.,   79000.,   59900.,
        140000.,   38000.,   45000.,   84900.,   54800.,   57000.,
         53500.,  175000.,   83000.,   85000.,   25245.,   57250.,
         48000.,   66000.,   83800.,   86900.,   55000.,   83900.,
         49000.,   60000.,   82000.,   50000.,  145000.,   62500.,
         64000.,   34000.,   60000.,   49000.,   70000.,   48000.,
        105000.,   30000.,   53900.,   54000.,   53000.,   91500.,
         42500.,   42000.,   68000.,   25000.,   32000.,   32500.,
         60000.,   62000.,   78900.,   61000.,  120000.,   45000.,
         75000.,   42000.,  108000.,   68000.,   35000.,   43500.,
         46000.,  163000.,   38000.,   61000.,   75000.,   50000.,
         38000.,   79500.,   66000.,   40000.,   56000.,   53000.,
         90000.,   48900.,   37000.,   37900.,   47000.,   40500.,
         48500.,   67000.,  106000.,   37000.,   52500.,  126500.,
         74500.,   63000.,   46000.,   83000.,   56000.,  103000.,
         48500.,   61500.,   35000.,   80000.,   67900.,   34000.,
         70000.,   82000.,  107500.,   63900.,   82500.,   26000.,
         62900.,   62900.,   96000.,   88000.,   52000.,   57000.,
         34400.,   52500.,   93000.,   80000.,   74500.,   52900.,
         48000.,  100500.,   54000.,   47500.,   45000.,  102000.,
        104900.,   80000.,  128000.,  114000.,   50000.,   46500.,
         44000.,   59900.,   54500.,   59000.,   69000.,   60000.,
         88000.,   49500.,   49500.,   58000.,   58900.,   61000.,
         52000.,   84000.,   75000.,   94500.,   70000.,   46000.,
         53000.,   52000.,   66000.,   46000.,   65500.,   61000.,
         61500.,   53000.,  120900.,   69000.,   64500.,   25000.,
         50500.,   51500.,   35000.,   38000.,   38000.,   48000.,
         52000.,   71900.,  120000.,  105000.,   70000.,   47000.,
         58500.,   50000.,   34000.,   49000.,   61000.,   55000.,
         44900.,   50000.,  114900.,  112000.,   72000.,  110000.,
         42000.,   44000.,   56000.,   59500.,   60000.,   54000.,
         89900.,   26500.,   47900.,   58000.,   52000.,   90000.,
        100000.,   41000.,  105000.,   57250.,   62000.,   68500.,
         56000.,   36000.,   41000.,   67000.,   42000.,  138300.,
         55000.,   78500.,  127000.,   46500.,   73500.,   64000.,
         60000.,   66500.,   65000.,   61100.,   63900.,   80000.,
         55000.,  110000.,   36000.,   62000.,  101000.,   50000.,
         52000.,   68000.,   90000.,  130000.,   43000.,   94500.,
         42300.,   43000.,   50000.,   37000.,   40500.,   77500.,
        175000.,   63500.,   91700.,   43000.,   50000.,   41000.,
         78500.,  106000.,   82000.,   98000.,   88500.,   44500.,
         86000.,   89000.,   45000.,  115442.,   50000.,  120000.,
         59000.,   72000.,   56000.,   44555.,   60500.,   31900.,
         95000.,   54000.,   55000.,   47000.,   28000.,   85000.,
         49000.,   82000.,   66000.,   47500.,   96500.,   58000.,
         49000.,   50000.,   68100.,   33500.,   30500.,  130000.,
         51900.,   60000.,   52500.,   61700.,   57500.,   35500.,
         70000.,   60000.,   95000.,   55000.,   92500.,   93000.,
         64900.,   60000.,   59500.,   70100.,   94700.,   52000.,
         67000.,  190000.,   35000.,   47000.,   38000.,   72500.,
         92000.,   82000.,   72000.,   42000.,   74700.,   53900.,
         86000.,  145000.,  108000.,   35000.,   85000.,   64000.,
         60000.,  174500.,   45000.,   74500.,   79000.,   71000.,
        123500.,   40500.,   39000.,  120000.,   50000.,   48000.,
         70000.,   64000.,   48000.,   73000.,  122000.,   80750.,
         69500.,   52000.,   64000.,   48000.,   80000.,   51000.,
         60000.,   60000.,   78000.,   47600.,   44500.,  122500.,
         43000.,   73000.,   48500.,   98500.,   55500.,   55500.,
         49500.,   80000.,   85000.,   95000.,  113750.,   82900.,
         78000.,   58000.,   50000.,   64500.,   52500.,  116000.,
         97000.,   39000.,   56000.,   66000.,   44100.,   88500.,
         75500.,  140000.,   48000.,   65000.,   82000.,   43000.,
         85000.,   61000.,   64900.,   47000.,   95000.,  101000.,
        123500.,   44500.,   63900.,   47000.,   70000.,   35500.,
         32500.,   51000.,   30000.,   62900.,   62000.,   69900.,
         43000.,   58000.,   65000.,   85000.,   32500.,   50000.,
         78000.,   42900.,   76900.,   77000.,   50000.,   45000.,
         65500.,   88500.,  107000.,   42000.])

In [139]:
ytest

array([  57000.,  132000.,   53900.,   44700.,   65000.,   67000.,
         67000.,   47000.,   70000.,   42000.,   56000.,   58550.,
         60000.,   99000.,   65000.,  124000.,   40000.,  106000.,
         35000.,   52900.,   87500.,  155000.,   70500.,   57000.,
         80000.,   83900.,   57500.,  141000.,   25000.,   51000.,
         69000.,   69900.,   46200.,  118500.,   75000.,   70800.,
         70000.,   27000.,   37900.,   60000.,  103500.,   45000.,
         40750.,   59500.,   85000.,   75000.,   86000.,   44000.,
         70000.,   99000.,   79500.,   54000.,   87000.,   71500.,
         62600.,   49000.,   65000.,   45000.,   73000.,   85000.,
         87250.,   60000.,   73000.,   44000.,   76000.,   41000.,
        125000.,   30000.,   65900.,   58500.,   78000.,   72000.,
        132000.,   51000.,   36000.,   75000.,   55000.,   84000.,
         95000.,   57000.,   97000.,   93000.,   57500.,   67000.,
         43000.,   89500.,   64500.,   83000.,  112500.,   68500.,
         60000.,   63000.,   70000.,   95000.,   53000.,   42000.,
         54000.,   64500.,   38500.,   38000.,   27000.,   49900.,
         86900.,   73500.,   75000.,   51500.,   37200.,   45000.,
         79000.,   70000.])

In [140]:
linear = LinearRegression()

In [141]:
linear.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [142]:
pred_y = linear.predict(xtest)

In [143]:
xtest[3]

array([5495,    3,    1], dtype=int64)

In [144]:
pred_y[3]

64546.871187491983

In [147]:
# from sklearn.metrics import mean_squared_error
# predictions = linear.predict(xtest)
# lin_mse = mean_squared_error(ytest,predictions)
# lin_rmse = np.sqrt(lin_mse)
# print('rmse value is : ',lin_rmse)

In [148]:
# lin_reg_score = linear.score(xtest,ytest)
# print('r squared value is : ',lin_reg_score )

In [108]:
# plt.scatter(xtest,ytrain,color='green')
# plt.plot(xtrain,linear.predict(xtrain),color='blue')
# plt.title("Salary & Exp traing plot.")
# plt.xlabel("Exp")
# plt.ylabel("Salary")
# plt.show()